*{
    margin: 0;
    padding: 0;
}
.hero{
    height: auto;
    width: 100%;
    background: linear-gradient(to right, #000000 , #42164D);
    padding: 2% 1%;
    color:white;
    padding-bottom: 5rem;
}

.hero-typography-heading{
    font-size: 6rem;
    font-weight: bolder;
  
}

.hero-typography-description{
   font-weight: 700;
}
.hero-heading-color{
    color: #E03584;
}
.hero-typography-button{
    color: white;
    background-color: #7634BF;
    padding: 0.9rem 1.9rem;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    

}
.hero-typography-button:hover{
    background:#44127d;
}

.benifits{
    padding: 5% 1%;
}

.benifits-1{
    padding: 2rem 0;
}

.benifits-2{
    background-color: #F3F5F6;
}

.benifits-1-img{
    border-radius: 20px;
}

.benifits-heading{
    font-size: 4rem;
    font-weight: 700;
}
.benifits-heading-color{
    color: #7634BF;
}

.reviews-typ{
    color: #E03584;
}
.reviews-heading{
    font-size: 4rem;
    font-weight: 700;
    color: white;  
}
.reviews-client-1-img-block{
   margin-right: 20px;
}

.members{
    background-color: #161616;
    color: white;
}

.members-count{
    font-size: 5rem;
    font-weight: bolder;
}
.members-names{
    font-size: 2rem;
    font-weight: 700;
}

.offer{
    background: linear-gradient(to right, #000000 , #42164D);
    color: white;
}
.offer-links a{
    display: inline-block;
    padding: 1rem 2rem;
    color: white;
    border: none;
    border-radius: 30px;
    text-decoration: none;

}

.offer-googlePlay-link1{
    background-color: #7634BF;
    font-weight: 700;
    marfin-right: 10px;
}
.offer-appStore-link2{
    background-color: #E03584;
    font-weight: 700;
    margin-left: 10px;
}
.offer-typography-heading{
    font-size: 5rem;
    font-weight: bold;
}

.submit-btn{
    padding: 0.8rem 2rem;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #7634BF;
    font-weight: 700;
    margin-top: 20px;
}

.footer-email-heading{
    font-weight: 700;
}




@media(max-width: 990px) {
    .hero-typography{
        text-align: center;
    }
    
}











